body{
    background: url(https://source.unsplash.com/random/1200*1000) no-repeat !important;
    background-size: cover !important;
    margin:0px;
    padding:0px;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.img-fluid {
  max-width: 100%;
  height: 100%;
    width:100%;
}

.custom-logo{
    height:50px;
    border: none;
}

.main {
    margin-left: auto;
    margin-right: auto; 
    color: white;
    position: absolute;
    top: 40%;
    text-shadow: 1px 1px 1px black;
    background:url(https://source.unsplash.com/1600x900/?nature,water);
}

header{
    top:0;
}

section{
    color: white;
    border:1px solid white;
}
footer{
    color: white;
    border:1px solid white;
}

.box{
    width:300px;
    height:auto;
    /* /border:1px solid black; */
    color:white;
    display: inline-block;
    margin: 5px;
    transition:all .1s ease-in-out;
}

.box-parent{
   /* / position: absolute; */
    padding: 10px;
    text-align: center;
    margin-top: 30em;
}

.box:hover .featured-icon i{
    background-color:#ff7a5c;
    transform: scale(1);
    box-shadow: 0px 0px 20px 5px black;
    border: none;
}

.featured-icon i {
    transform: scale(.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 28px;
    display: block;
    width: 64px;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
    line-height: 62px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.25s linear;
}

#category{
    text-align: center;
    padding:auto 0px;
    margin: 0px;
}
.btn a{
    text-decoration: none;
    color:white;
}
.btn{
    background-color:transparent;
    transition: .5s ease-in-out;
    border:1px solid white;
}

.btn:hover a{
    color:black;
}
.btn:hover{
    color: black;
     background-color: white;
}

#logout:hover{
    color:black;
}

.thumbnail{
    position: relative;
    display: inline-block;
    width:300px;
    height:200px;
    cursor: pointer;
    box-sizing: border-box;
    overflow:hidden;
}

.thumbnail img{
    margin: 0;
    padding: 0;
    width:300px;
    height:200px;
}

#thumbnail{
    position: relative;
    display: inline-block;
    width:300px;
    height:200px;
    transition: 2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    transition-delay: .5s;
    overflow:hidden;
    padding: 4px;
}
@media screen and (min-width:768px){
    .thumbnail,#thumbnail img,#thumbnail{
        width:250px;
        height:180px;
    }    
}
@media screen and (min-width:992px){
    .thumbnail,#thumbnail img,#thumbnail{
        width:300px;
        height:200px;
    }    
}


@media screen and (min-width:1200px){
    .thumbnail,#thumbnail img,#thumbnail{
        width:400px;
        height:250px;
    }    
}

#thumbnail img{
    margin: 0;
    padding: 0;
    width:auto;
    height:250px;
    transition-delay: .2s;
    transition: .5s;
}

#thumbnail:before{
    content: ' ';
    position: absolute;
    width:0%;
    height: 0%;
    top:0;
    left: 0;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    transition: .5s;
    opacity: 0;
    box-sizing: border-box;
}

#thumbnail:after{
    content: ' ';
    position: absolute;
    width:0%;
    height: 0%;
    bottom:0;
    right: 0;
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    transition: .5s;
    opacity: 0;
    box-sizing: border-box;
}
#thumbnail:hover{
    box-shadow: 0px 25px 30px rgba(255,255,255,0.5);
}

#thumbnail:hover:before{
    opacity: 1;
    width:100%;
    height: 100%;
}

#thumbnail:hover:after{
    opacity: 1;
    width:100%;
    height: 100%;
}

#thumbnail a span{
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:-120%;
    background-color:rgba(255,255,255,0.5);
    transform: skewX(30deg);
    transition: .5s;
    z-index: 2;
}

#thumbnail a span h3{
    position: absolute;
    transform: skewX(-30deg);
    text-align: center;
    bottom:50%;
    right:50%;
}

#thumbnail a span i{
    position: absolute;
    transform: skewX(-30deg);
    text-align: center;
    bottom:10px;
    right:60%;
    font-size: 25px;
    transition: .2s ease-in-out;
    text-shadow: 1px 1px 1px white;
    z-index: 2;
}

#thumbnail a span i:hover{
    color:white;
    text-shadow: 1px 1px 1px black;
}

#thumbnail:hover a span{
    left: 120px;    
}

.feturedsection{
    margin-top:5em;
    color:white;
    background:#ff7a5c;
    height:auto;
}

.feturedsection h1{
    line-height: 2.5em;
}

#gaurav{
    color:white;
    height: auto;
    margin: 0px auto;
    top:80px;
    left:0;
    right:0;
    width:500px;
    background:rgba(0,0,0,0.5);
    border-radius: 10px;
}

.cls{
    margin: 3px;
}
#nav{
     background-image: linear-gradient(132deg,black,grey,black);
    animation: txt 50s ease infinite;
    background-size: 7000px;
    /* box-shadow: 1px 1px 100px 1px white; */
    
}

@media only screen and (max-width: 992px) {
    #navbarResponsive {
        background-color: rgba(0,0,0,0.6);
        color:white;
        font-size: 20px;
        text-align: center;
    }
}

                            /*ADMIN LOGIN*/
.image{
    background: url(https://source.unsplash.com/1600x900/?nature,water) !important;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    /* left: 0; */
    /* right: 0; */
    top: 0;
    right: 0;
    filter: blur(3px);
}

.contain{
    background: rgba(255,255,255,0.2);
    height:500px;
    width:500px;
    z-index: 1;
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    margin: 140px auto;
    box-shadow: 1px 1px 5px 1px black;
    text-align: center;
}

.alog{
    z-index: 2;
    position: fixed;
    /* /border:solid red; */
    width:350px;
    height: 300px;
    left:0;
    right:0;
    margin: 0px auto;
    padding-top: 60px;
}

.alog .a-in{
    width:350px;
    height: 50px;
    right:0;
    left: 0;
    text-align: center;
    font-size: 20px;
    margin: 10px auto;
    border-radius: 20px;
    color:white;
    border:2px groove white;
    background: none;
    background-image: linear-gradient(132deg,white,grey);
    background-size:400% 400%;
    animation:geffect 30s ease infinite;
}

.submit{
    width:350px;
    height: 50px;
    right:0;
    left: 0;
    text-align: center;
    /* /padding-left: 10px; */
    font-size: 20px;
    margin: 5px auto;
    border-radius: 20px;
    color:white;
    border:2px groove white;
    background-image: linear-gradient(132deg,darkblue,lightblue);
    animation: txt 20s ease infinite;
    background-size: 1000px;
}
.contain h1{
    margin: 0;
    padding: 0;
    font-size:4em;
    background-image: linear-gradient(132deg,darkblue,lightblue);
    /* -webkit-background-clip: text; */
    color:transparent;
    animation: txt 20s ease infinite;
    background-size: 1000px;
    font-family:candara;
    text-align: center;
}

 .h1{
     margin: 0;
     padding: 0;
    font-size: 4em;
     font-family:Great Vibes;
    color:white;
     text-align: center;
    text-shadow: 1px 1px 1px black;
}

h4{
    text-align: center;
    color:white;
    text-shadow: 1px 1px 1px black;
    line-height:0px;
    letter-spacing: 3px;
}
@keyframes txt{
    0%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 100%;
    }
}
@keyframes geffect{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.img{
    margin-top:10px;
}

#wall{
    /* z-index: -1; */
}


#wall:before{
    /* content: '';
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
    background-color: rgba(0,0,0,0.6); */
}


            /*footer*/
footer{
    width:100%;
     padding:30px auto;
    font-family:verdana;
    color:white;
    position: relative;
    border:none;  
    text-align: center;
    background: none;
    background-image: linear-gradient(132deg,rgba(255,255,255,0.7),rgba(0,0,0,0.7));
    background-size:400% 400%;
    animation:geffect 30s ease infinite;
}	       

.logo1{
    width:100px;
    height: 80px;
}

.logo{
    color:#ff7a5c;
    font-weight:400;
    font-family:great vibes;
    font-size:60px;
    text-shadow: 2px 2px 2px black;
}

.adress , .menu{
    list-style: none;    
}

.adress span , .menu span{
   color:#fff; 
   font-weight: 800; 
   border-bottom: 1px solid #c7c7c7; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 16px;
   letter-spacing: 3px;
}
 
.adress p , .menu li a {
    color:#fff;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.menu li a:hover{
    color:#fff;
    font-weight:600;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.sidenav {
    height: 100%;
    width: 0;
    top:60px;
    position: fixed;
    z-index: 10;
    top: 70px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


                    /*PAGE.PHP*/
.page_head{
    margin-top:80px;
    color:white;
}

.buttons{
    margin:10px 0px;
}

.img_container{
    border:3px groove white;
    padding: 0;
}

#thmbnail{
    position: relative;
    display: inline-block;
    width:300px;
    height:250px;
    transition: 2s ease-in-out;
    cursor: pointer;
    box-sizing: border-box;
    transition-delay: .5s;
    overflow:hidden;
    padding: 4px;
}

#thmbnail img{
    margin: 0;
    padding: 0;
    width:auto;
    height:250px;
}

#thmbnail:before{
    content: ' ';
    position: absolute;
    width:0%;
    height: 0%;
    top:0;
    left: 0;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    transition: .5s;
    opacity: 0;
    box-sizing: border-box;
    z-index: -1;
    
}

#thmbnail:after{
    content: ' ';
    position: absolute;
    width:0%;
    height: 0%;
    bottom:0;
    right: 0;
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    transition: .5s;
    opacity: 0;
    box-sizing: border-box;
    z-index: -1;
    
}
#thmbnail:hover{
    box-shadow: 0px 25px 30px rgba(255,255,255,0.5);
}

#thmbnail:hover:before{
    opacity: 1;
    width:100%;
    height: 100%;
}

#thmbnail:hover:after{
    opacity: 1;
    width:100%;
    height: 100%;
    padding-bottom: 10px;
}

#thmbnail  span i{
    position: absolute;
    /* transform: skewX(-30deg); */
    text-align: center;
    bottom:10px;
    right:25px;
    color:grey;
    font-size: 25px;
    transition: .2s ease-in-out;
    text-shadow: 1px 1px 1px white;
    z-index: 2;
}

#thmbnail  span i:hover{
    color:white;
    text-shadow: 1px 1px 1px black;
}

@media screen and (min-width:768px){
    .thumbnail,#thumbnail img,#thumbnail,#thmbnail{
        width:250px;
        height:180px;
    }    
}
@media screen and (min-width:992px){
    .thumbnail,#thumbnail img,#thumbnail,#thmbnail{
        width:300px;
        height:200px;
    }    
}


@media screen and (min-width:1200px){
    .thumbnail,#thumbnail img,#thumbnail,#thmbnail{
        width:400px;
        height:250px;
    }    
}

#cat_buttons{
    text-align: center;
}
#cat_buttons{
    text-decoration: none;
}

#cat buttons:hover h1{
    color: white;
}

#cat_buttons h1{
    color:white;
}

#cat_buttons button{
    margin: 3px;
}

#cat_buttons #nature{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/596483.jpg); */
    background-repeat: no-repeat;
}

#cat_buttons #buildings{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/pexels-photo-302769.jpeg); */
    background-repeat: no-repeat;
}

#cat_buttons #fields{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/596483.jpg); */
    background-repeat: no-repeat;
}

#cat_buttons #sea{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/sea-wallpapers-5.jpg); */
    background-repeat: no-repeat;
}

#cat_buttons #street{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/pexels-photo-548084.jpeg); */
    background-repeat: no-repeat;
}


#cat_buttons #skyscapers{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/p0202jwh.jpg); */
    background-repeat: no-repeat;
}

#cat_buttons #mountains{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/beautiful-landscapes-wallpaper-wallpapers.jpg); */
    background-repeat: no-repeat;
}

#cat_buttons #animals{
    background-size:cover;
    background-position: center center;
    /* background-image: url(../img/wallpaper-with-elephants-in-the-desert-hd-animals-backgrounds.jpg); */
    background-repeat: no-repeat;
}



                            /*ADMIN PANEL*/
.panel{
    margin-top: 70px;
    margin-left: 0px;
    width: 600px;
}